In [268]:
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
from sklearn import tree

In [269]:
df = pd.read_csv('AB.csv', na_values='?')
df.dropna(inplace=True)
df2 = pd.read_csv('AB.csv', na_values='?')
df2.dropna(inplace=True)

In [270]:
def change_status(Satus):
    if Satus == 'Operating':
        return 1;
    else :
        return 0;

In [271]:
def change_category(Categories):
    if Categories == 'Technology':
        return 0;
    elif Categories == 'Service_Ind':
        return 1;
    elif Categories == 'E-Commerce':
        return 2;
    elif Categories == 'Curated_Web':
        return 3;
    elif Categories == 'Advertising':
        return 4;
    elif Categories == 'Education':
        return 5;
    elif Categories == 'Finance':
        return 6;
    elif Categories == 'Fashion':
        return 7;
    elif Categories == 'Medical':
        return 8;

In [272]:
def change_funding(Amounts_raised_in_different_funding_rounds):
    if Amounts_raised_in_different_funding_rounds < 1:
        return 'zero'
    elif Amounts_raised_in_different_funding_rounds >1 :
        return Amounts_raised_in_different_funding_rounds;
#    elif Amounts_raised_in_different_funding_rounds < 100000 :
#        return 'Extremely_Low'
#    elif Amounts_raised_in_different_funding_rounds < 500000 :
#        return 'Low'
#    elif Amounts_raised_in_different_funding_rounds < 1000000 :
#        return 'medium'
#    elif Amounts_raised_in_different_funding_rounds < 5000000 :
 #       return 'High'
#    else:
#        return 'Extremely_High'

In [273]:
df['Satus'] = df['Satus'].apply(change_status)
df2['Satus'] = df2['Satus'].apply(change_status)
df2['Amounts_raised_in_different_funding_rounds'] = df['Amounts_raised_in_different_funding_rounds'].apply(change_funding)
#df['YCombinatorYear'] = df['YCombinatorYear'].apply(change_year)
df['Categories'] = df['Categories'].apply(change_category)
df3 = df[df2.Amounts_raised_in_different_funding_rounds != 'zero' ]
df2.drop(['Company'], axis=1, inplace=True)
df3.drop(['Company', 'HeadquartersCity'], axis=1, inplace=True)
df3

,Satus,Amounts_raised_in_different_funding_rounds,Categories,YCombinatorYear
0,1,1200000,2,2011
1,1,3000000,2,2013
2,1,7300000,1,2012
3,0,2000000,0,2010
4,1,1714000,6,2010
6,1,2400000,1,2013
7,1,3800000,1,2012
8,0,1300000,3,2010
9,0,740000,3,2010
10,1,535000,6,2013
11,1,750000,1,2013
12,1,1800000,3,2012
13,1,9400000,3,2011
14,1,2800000,0,2011
15,1,2400000,0,2013
19,1,2500000,1,2012
20,1,2800000,6,2014
21,1,11200000,0,2011
22,1,1200000,5,2011
23,1,39800000,0,2010
24,1,700000,6,2013
25,1,2380000,8,2013
26,1,1100000,4,2011
27,1,794820000,1,2009
28,0,875000,2,2007
29,1,5200000,6,2011
30,0,18250000,0,2007
31,1,11800000,6,2011
32,1,9720000,0,2012
33,0,500000,6,2007
...,...,...,...,...
648,1,2000000,2,2012
649,1,1800000,2,2012
651,1,1300000,2,2014
652,0,890000,2,2007
654,1,6600000,2,2012
655,1,1200000,2,2012
656,1,2000000,2,2013
658,1,784000,2,2013
659,1,100000,2,2013
661,1,2000000,2,2012
662,1,5000000,2,2012
664,1,4777000,2,2010
665,1,6830000,2,2010
666,0,3000000,2,2009
668,1,19700000,2,2013
670,1,1670000,2,2012
671,1,920000,2,2008
672,0,39106000,2,2005
673,1,750000,2,2011
674,1,50000,2,2011
675,1,2000000,2,2011
676,1,1100000,2,2012
677,1,21500000,2,2010
678,0,1000000,2,2012
679,1,2100000,2,2012
680,1,1000000,2,2012
683,0,1100000,2,2011
684,1,3550000,2,2011
686,1,13320000,2,2012
687,1,1500000,2,2011

In [274]:
trainData = df3[:180]

In [275]:
trainData

,Satus,Amounts_raised_in_different_funding_rounds,Categories,YCombinatorYear
0,1,1200000,2,2011
1,1,3000000,2,2013
2,1,7300000,1,2012
3,0,2000000,0,2010
4,1,1714000,6,2010
6,1,2400000,1,2013
7,1,3800000,1,2012
8,0,1300000,3,2010
9,0,740000,3,2010
10,1,535000,6,2013
11,1,750000,1,2013
12,1,1800000,3,2012
13,1,9400000,3,2011
14,1,2800000,0,2011
15,1,2400000,0,2013
19,1,2500000,1,2012
20,1,2800000,6,2014
21,1,11200000,0,2011
22,1,1200000,5,2011
23,1,39800000,0,2010
24,1,700000,6,2013
25,1,2380000,8,2013
26,1,1100000,4,2011
27,1,794820000,1,2009
28,0,875000,2,2007
29,1,5200000,6,2011
30,0,18250000,0,2007
31,1,11800000,6,2011
32,1,9720000,0,2012
33,0,500000,6,2007
...,...,...,...,...
194,1,3150000,3,2013
196,1,220000,0,2009
197,1,2000000,1,2014
198,0,1300000,1,2009
199,0,2515000,1,2007
200,1,850000,3,2012
202,1,1400000,4,2012
203,1,16615000,7,2007
204,1,6210000,1,2013
205,1,200000,3,2011
206,1,75000,3,2014
207,1,2100000,3,2013
208,1,1500000,3,2013
209,1,3017000,3,2012
210,1,800000,1,2013
211,1,1400000,4,2012
212,0,1315000,4,2008
213,1,1200000,0,2013
214,1,23600000,0,2011
215,1,12500000,5,2011
216,1,2064000,0,2012
218,1,4450000,0,2011
219,1,12200000,0,2009
223,1,500000,4,2010
224,1,12000000,6,2013
238,1,120000,0,2014
244,1,120000,1,2014
245,1,120000,3,2014
247,1,120000,0,2014
249,1,1600000,7,2014

In [276]:
features = trainData.values[:, :3]

In [277]:
a = trainData.values[:, 0:1]
targetlist = []
for i in range (0, 180):
    if (a[i] > 0):
        targetlist.append(1)
    else:
        targetlist.append(0)

In [278]:
targetarray = np.asarray(targetlist)
targetarray

array([1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1])

In [279]:
X = [[0, 0], [1, 1]]
Y = [0, 1]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, Y)

In [280]:
clf.predict([[2., 2.]])

array([1])

In [281]:
clf.predict_proba([[2., 2.]])

array([[0., 1.]])

In [282]:
features

array([[         1,    1200000,          2],
       [         1,    3000000,          2],
       [         1,    7300000,          1],
       [         0,    2000000,          0],
       [         1,    1714000,          6],
       [         1,    2400000,          1],
       [         1,    3800000,          1],
       [         0,    1300000,          3],
       [         0,     740000,          3],
       [         1,     535000,          6],
       [         1,     750000,          1],
       [         1,    1800000,          3],
       [         1,    9400000,          3],
       [         1,    2800000,          0],
       [         1,    2400000,          0],
       [         1,    2500000,          1],
       [         1,    2800000,          6],
       [         1,   11200000,          0],
       [         1,    1200000,          5],
       [         1,   39800000,          0],
       [         1,     700000,          6],
       [         1,    2380000,          8],
       [         1,    1100000,          4],
       [         1,  794820000,          1],
       [         0,     875000,          2],
       [         1,    5200000,          6],
       [         0,   18250000,          0],
       [         1,   11800000,          6],
       [         1,    9720000,          0],
       [         0,     500000,          6],
       [         1,     500000,          0],
       [         0,   28700000,          0],
       [         0,    8000000,          3],
       [         1,    1020000,          3],
       [         1,   56800000,          7],
       [         0,    1000000,          6],
       [         1,    1100000,          6],
       [         1,    3400000,          0],
       [         0,    2300000,          0],
       [         0,   19900000,          0],
       [         0,   16600000,          0],
       [         1,   25752000,          5],
       [         1,    6500000,          6],
       [         0,     470000,          4],
       [         0,     400000,          6],
       [         0,    4085000,          3],
       [         1,    1850000,          1],
       [         0,   10580000,          2],
       [         1,    2900000,          7],
       [         1,   45000000,          0],
       [         1,   17400000,          2],
       [         1,   83600000,          8],
       [         0,    1000000,          3],
       [         1,     500000,          4],
       [         0,    7000000,          0],
       [         1,    1418000,          1],
       [         1,     315000,          6],
       [         1,   35670000,          3],
       [         1,     375000,          3],
       [         1,   10500000,          3],
       [         1,     105700,          7],
       [         1,     100000,          1],
       [         0,   41792000,          0],
       [         0,    2515000,          3],
       [         1,    7000000,          0],
       [         1,    3400000,          1],
       [         1,   11215000,          6],
       [         1,    1200000,          3],
       [         1,    6725000,          8],
       [         1,   54800000,          2],
       [         1,   13500000,          1],
       [         1,   31700000,          0],
       [         1,    1400000,          0],
       [         1,   30600000,          0],
       [         1,    6175000,          0],
       [         1,     790000,          7],
       [         1,    5500000,          0],
       [         1,   40420000,          0],
       [         1,    1250000,          0],
       [         0,    2575000,          6],
       [         0,   10140000,          3],
       [         0,    1015000,          0],
       [         1,    1150000,          3],
       [         1,    3780000,          4],
       [         1,    4000000,          5],
       [         0,    1000000,          2],
       [         1,    5250000,          0],
       [         1,     500000,          0],
       [         0,    1400000,          3],
       [         1,   26100000,          0],
       [         0,    7015000,          3],
       [         0,    5200000,          0],
       [         1,   12100000,          0],
       [         1,    2000000,          6],
       [         1,    2685000,          2],
       [         1,   17500000,          0],
       [         1,   12270000,          0],
       [         1,    1500000,          0],
       [         1,    2500000,          3],
       [         1,     800000,          1],
       [         1,    1300000,          3],
       [         1,   39700000,          1],
       [         1,   16650000,          1],
       [         1,    5000000,          2],
       [         1,    5900000,          8],
       [         1,   15600000,          8],
       [         1,     255000,          8],
       [         1,     600000,          0],
       [         1,    7600000,          6],
       [         0,    2750000,          3],
       [         1,    4200000,          0],
       [         1,     355000,          1],
       [         1,   88200000,          3],
       [         1,    9200000,          0],
       [         1,   25675000,          0],
       [         1,    1200000,          8],
       [         1,   15100000,          0],
       [         1,    5500000,          0],
       [         1,    7995000,          0],
       [         1,    2500000,          0],
       [         1,   34200000,          2],
       [         1,   26000000,          0],
       [         0,   13020000,          3],
       [         1,    5200000,          8],
       [         1,   12900000,          6],
       [         1,   40215000,          1],
       [         1,     500000,          6],
       [         1,    1020000,          5],
       [         1,    1700000,          7],
       [         1,    2000000,          0],
       [         1,    1217000,          0],
       [         1,    1400000,          0],
       [         1,      65000,          0],
       [         1,    2500000,          6],
       [         1,   54300000,          0],
       [         0,    1800000,          5],
       [         1, 1107215000,          3],
       [         1,  120000000,          6],
       [         0,     715000,          0],
       [         1,     630000,          4],
       [         1,    7700000,          4],
       [         0,    1400000,          0],
       [         1,     150000,          0],
       [         1,     720000,          3],
       [         1,    9200000,          0],
       [         0,     984000,          3],
       [         1,   37100000,          6],
       [         1,    1168000,          0],
       [         1,    1600000,          4],
       [         1,    6417000,          0],
       [         1,    3150000,          3],
       [         1,     220000,          0],
       [         1,    2000000,          1],
       [         0,    1300000,          1],
       [         0,    2515000,          1],
       [         1,     850000,          3],
       [         1,    1400000,          4],
       [         1,   16615000,          7],
       [         1,    6210000,          1],
       [         1,     200000,          3],
       [         1,      75000,          3],
       [         1,    2100000,          3],
       [         1,    1500000,          3],
       [         1,    3017000,          3],
       [         1,     800000,          1],
       [         1,    1400000,          4],
       [         0,    1315000,          4],
       [         1,    1200000,          0],
       [         1,   23600000,          0],
       [         1,   12500000,          5],
       [         1,    2064000,          0],
       [         1,    4450000,          0],
       [         1,   12200000,          0],
       [         1,     500000,          4],
       [         1,   12000000,          6],
       [         1,     120000,          0],
       [         1,     120000,          1],
       [         1,     120000,          3],
       [         1,     120000,          0],
       [         1,    1600000,          7]], dtype=int64)

In [283]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(features[:180, :], targetarray[:180])

In [284]:
clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [285]:
with open('iris.dot', 'w') as f:
...     f = tree.export_graphviz(clf, out_file=f)

In [286]:
#from IPython.display import Image 
import os     
os.environ['PATH'] += os.pathsep + "C:/Users/ASUS-PC/Desktop/release/bin/"

In [287]:
import pydotplus
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = pydotplus.graph_from_dot_data(dot_data) 
graph.write_pdf('iris3.pdf')

True

In [288]:
feature_names = list(trainData.columns.values)

In [289]:
feature_names

['Satus',
 'Amounts_raised_in_different_funding_rounds',
 'Categories',
 'YCombinatorYear']

In [290]:
feature_names = feature_names[1:4]

In [291]:
#target_names = ['low', 'lower-intermediate', 'upper-intermediate', 'high']
target_names = ['Satus']
target_names = np.asarray(target_names)
target_names

array(['Satus'], dtype='|S5')

In [292]:
from IPython.display import Image  
dot_data = tree.export_graphviz(clf, out_file=None, feature_names=feature_names,  
                         class_names=target_names, filled=True, rounded=True, special_characters=True)  
graph = pydotplus.graph_from_dot_data(dot_data)  
Image(graph.create_png())

IndexError: index 1 is out of bounds for axis 0 with size 1

In [293]:
features[0]
trainData[1:2]

,Satus,Amounts_raised_in_different_funding_rounds,Categories,YCombinatorYear
1,1,3000000,2,2013

In [294]:
clf.predict(features[1:4])

array([1, 1, 0])

In [295]:
testData = df3[180:]

In [296]:
testData

,Satus,Amounts_raised_in_different_funding_rounds,Categories,YCombinatorYear
251,1,4500000,8,2014
253,1,120000,8,2014
255,1,120000,0,2014
257,1,2025000,4,2014
258,1,622000,4,2014
259,1,15000,4,2007
264,1,289000,5,2014
267,1,120000,0,2014
269,1,1800000,6,2013
270,1,15000000,1,2011
272,1,120000,3,2014
275,1,120000,6,2014
277,1,2942000,6,2005
278,0,20000,6,2007
282,1,100000,0,2014
287,1,270000,1,2014
298,1,15000,4,2009
300,1,120000,0,2014
312,1,3300000,3,2012
314,1,20000,0,2009
319,1,1200000,1,2014
323,1,145000,5,2014
325,0,15000,0,2007
333,1,604000,8,2014
342,0,400000,0,2011
344,1,1500000,4,2014
357,1,1120000,8,2014
358,1,120000,0,2014
361,0,20000,0,2006
375,1,97000,5,2013
...,...,...,...,...
648,1,2000000,2,2012
649,1,1800000,2,2012
651,1,1300000,2,2014
652,0,890000,2,2007
654,1,6600000,2,2012
655,1,1200000,2,2012
656,1,2000000,2,2013
658,1,784000,2,2013
659,1,100000,2,2013
661,1,2000000,2,2012
662,1,5000000,2,2012
664,1,4777000,2,2010
665,1,6830000,2,2010
666,0,3000000,2,2009
668,1,19700000,2,2013
670,1,1670000,2,2012
671,1,920000,2,2008
672,0,39106000,2,2005
673,1,750000,2,2011
674,1,50000,2,2011
675,1,2000000,2,2011
676,1,1100000,2,2012
677,1,21500000,2,2010
678,0,1000000,2,2012
679,1,2100000,2,2012
680,1,1000000,2,2012
683,0,1100000,2,2011
684,1,3550000,2,2011
686,1,13320000,2,2012
687,1,1500000,2,2011

In [297]:
t_features = testData.values[:, :3]
testData

,Satus,Amounts_raised_in_different_funding_rounds,Categories,YCombinatorYear
251,1,4500000,8,2014
253,1,120000,8,2014
255,1,120000,0,2014
257,1,2025000,4,2014
258,1,622000,4,2014
259,1,15000,4,2007
264,1,289000,5,2014
267,1,120000,0,2014
269,1,1800000,6,2013
270,1,15000000,1,2011
272,1,120000,3,2014
275,1,120000,6,2014
277,1,2942000,6,2005
278,0,20000,6,2007
282,1,100000,0,2014
287,1,270000,1,2014
298,1,15000,4,2009
300,1,120000,0,2014
312,1,3300000,3,2012
314,1,20000,0,2009
319,1,1200000,1,2014
323,1,145000,5,2014
325,0,15000,0,2007
333,1,604000,8,2014
342,0,400000,0,2011
344,1,1500000,4,2014
357,1,1120000,8,2014
358,1,120000,0,2014
361,0,20000,0,2006
375,1,97000,5,2013
...,...,...,...,...
648,1,2000000,2,2012
649,1,1800000,2,2012
651,1,1300000,2,2014
652,0,890000,2,2007
654,1,6600000,2,2012
655,1,1200000,2,2012
656,1,2000000,2,2013
658,1,784000,2,2013
659,1,100000,2,2013
661,1,2000000,2,2012
662,1,5000000,2,2012
664,1,4777000,2,2010
665,1,6830000,2,2010
666,0,3000000,2,2009
668,1,19700000,2,2013
670,1,1670000,2,2012
671,1,920000,2,2008
672,0,39106000,2,2005
673,1,750000,2,2011
674,1,50000,2,2011
675,1,2000000,2,2011
676,1,1100000,2,2012
677,1,21500000,2,2010
678,0,1000000,2,2012
679,1,2100000,2,2012
680,1,1000000,2,2012
683,0,1100000,2,2011
684,1,3550000,2,2011
686,1,13320000,2,2012
687,1,1500000,2,2011

In [298]:
a = testData.values[:, 0:1]
t_targetlist = []
for i in range (0,108):
    if (a[i] > 0):
        t_targetlist.append(1)
    else:
        t_targetlist.append(0)

In [299]:
t_targetarray = np.asarray(t_targetlist)
t_targetarray

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1])

In [300]:
clf.score(features, targetarray)

1.0

In [301]:
clf.score(t_features, t_targetarray)

1.0

In [302]:
clf.predict(t_features[0:])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1])

In [303]:
clf.predict_proba(t_features[0:])

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])